other_resources/meet_alert.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "00d7ccf4-095a-4d63-a874-117963b4c4d4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sdfgx243@gmail.com",
          "mode": "list",
          "cachedResultName": "sdfgx243@gmail.com"
        },
        "timeMin": "={{ $now.toISO() }}",
        "timeMax": "={{ $now.plus({ hours: 1 }).toISO() }}",
        "options": {
          "query": "#alert"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "59d93ad6-89f6-4e91-abbd-fbdf9b22c31c",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tFguJVNzds1g5Mnj",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($json.start.dateTime).plus({ minutes: -5 }).toISO() }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "572f6427-a904-480a-ba6c-89346b9ea7d7",
      "name": "Wait",
      "webhookId": "ed693bf9-aceb-4629-85d9-0f69def6cf40"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://events.zenduty.com/integration/xd5dz/generic/68e07fc1-8ad1-4ad7-b9df-1658e6ff3ca4/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alert_type",
              "value": "critical"
            },
            {
              "name": "message",
              "value": "Meeting Starting Soon"
            },
            {
              "name": "summary",
              "value": "={{ $json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        -32
      ],
      "id": "7ccc3fcf-aa73-4212-85a4-fbb271d2b976",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f6561dda-eaa7-4e21-a494-1d4298f0a47f",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        -16
      ],
      "id": "6aa829f6-23fa-4b63-9888-68f2731e75ce",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b435004a-99c1-499b-98a6-0bf21684d672",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef842aaadb0364514bced51a9c88c2d1528262b4a934a36d88658919f4ad1ce0"
  },
  "id": "f16YLh9BRtQW9Nuf",
  "tags": []
}